<mat-sidenav-container class="h-100">
  <mat-sidenav #abc mode="side" opened class="sidenav h-100">
    <li class="p-2">
      <a class="text-decoration-none text-dark fs-5" routerLink="/home">Home</a>
    </li>
    <li class="p-2">
      <a class="text-decoration-none text-dark fs-5" routerLink="/userprofile">User Profile</a>
    </li>
    <li class="p-2">
      <a class="text-decoration-none text-dark fs-5" routerLink="/newproduct">New Product</a>
    </li>
    <li class="p-2">
      <a class="text-decoration-none text-dark fs-5" routerLink="/productmodification">Product Management</a>
    </li>
    <li class="p-2">
      <a class="text-decoration-none text-dark fs-5" routerLink="/newuser">New User</a>
    </li>

  </mat-sidenav>
  <mat-sidenav-content>
    <!-- navbar -->

    <nav class="navbar navbar-light bg-primary">
      <div class="container-fluid">
        <span> <button (click)="abc.toggle()" class="btn fs-4"><i i-bs name="list" ></i></button>
        </span>
        <a routerLink="/login" class="navbar-brand mb-0 h1"><i i-bs name="person-circle"></i> Login </a>

      </div>
    </nav>
    <!-- <button (click)="abc.toggle()">Toggle Menu</button> -->
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>